MONGO_URL=mongodb://localhost:27017/teslodb

// Variables Publicas
NEXT_PUBLIC_TAX_RATE=0.15
JWT_SECRET_SEED=secretkey
// Providers
GITHUB_ID=githubid
GITHUB_SECRET=githubsecret

GOOGLE_CLIENT_ID=googleClientID
GOOGLE_CLIENT_SECRET=googleSecret
